<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>ADB GUI</title>
        <link rel="stylesheet" href="style.css" type="text/css">
    </head>
    <body>
        <div id="app" class="screen">
            <img v-if="connected && image" draggable="false" :src="image" @click.right="androidReturn" @mousedown.left="androidSwipeStart" @mouseup.left="androidSwipeStop" alt="image" />
            <div v-else id="adb">
                <section>
                    <img src="../images/Android-320x320.png" width="80" height="80" alt="adb" />
                </section>
                    <input v-model="androidAddr" type="text" placeholder="192.168.1.2" required />
                    <input v-model.number="androidPort" type="number" placeholder="5555" />
                    <button @click="androidConnect">{{ connectProgress }}</button>
                <section>

                </section>
            </div>
        </div>
        <script src="vue.min.js"></script>
        <script>
            require('./renderer');
        </script>
    </body>
</html>