<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>ADB GUI</title>
        <link rel="stylesheet" href="bulma.min.css" type="text/css">
        <link rel="stylesheet" href="style.css" type="text/css">
    </head>
    <body>
        <div id="app" class="screen">
            <div v-if="connected && image">
                <img width="720" height="480" draggable="false" :src="image" @mousedown="androidSwipeStart" @mouseup="androidSwipeStop" alt="image" />
                <div class="level is-mobile">
                    <div  class="level-item">
                        <img src="../images/icons8-back-60.png" alt="BACK" @click="androidReturn">
                    </div>
                    <div class="level-item">
                        <img v-if="secure" src="../images/icons8-lock-filled-100.png" alt="SECURE" @click="androidSecure" width="60" height="60">
                        <img v-else src="../images/icons8-unlock-filled-100.png" alt="SECURE" @click="androidSecure" width="60" height="60">
                    </div>
                    <div class="level-item">
                        <img src="../images/icons8-document-60.png" alt="FILE" @click="androidInstall">
                    </div>
                    <div class="level-item">
                        <img src="../images/icons8-home-60.png" alt="HOME" @click="androidHome">
                    </div>
                </div>
            </div>
            <div v-else id="adb" class="hero">
                <div class="hero-body">
                    <div class="container">
                        <div class="columns  is-mobile is-centered">
                            <div class="column is-6">
                                <form class="box">
                                    <div class="field has-text-centered">
                                        <img src="../images/Android-320x320.png" width="120" height="120" />
                                    </div>
                                    <div class="field">
                                        <label class="label">IP/DOMAIN</label>
                                        <div class="control">
                                            <input v-model="androidAddr" type="text" class="input" placeholder="e.g. 192.168.1.100" required>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <label class="label">PORT</label>
                                        <div class="control">
                                            <input v-model.number="androidPort" type="number" class="input" placeholder="e.g. 5555">
                                        </div>
                                    </div>
                                    <div class="field">
                                        <button class="button is-fullwidth is-dark" @click.prevent="androidConnect">
                                            {{ connectProgress }}
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="vue.min.js"></script>
        <script>
            require('./renderer');
        </script>
    </body>
</html>